
@{
    ViewData["Title"] = "About";
}

<div class="text-center">
<h1>About</h1>
<p id="blurb">James Khumalo, founder of KhumaloCraft Emporium, is passionate about connecting artisans with a global audience. 
    <br />He believes handcrafted products hold cultural significance and aims to build a thriving community around them. 
    <br />Prioritizing ethical sourcing and sustainability while empowering artisans with resources and a platform to share their stories.  </p>
</div>