@model Cloud_Aissgnment_1.Models.userTable;


@{
    ViewData["Title"] = "Contact Us";
}

<div >
    <h1 class="text-center">@ViewData["Title"]</h1>

    <p>
        James Khumalo <br />
        Email: st10256074@vcconnect.edu.za <br />
        Phone: (+00) 000-000-0000
    </p>

</div>
<body>



</body>