@model Cloud_Aissgnment_1.Models.userTable;


@{
    ViewData["Title"] = "Contact Us";
}

<div >
    <h1 class="text-center">@ViewData["Title"]</h1>

    <p>
        James Khumalo <br />
        Email: st10256074@vcconnect.edu.za <br />
        Phone: (+00) 000-000-0000
    </p>

</div>
<body>
    @* Sign Up form *@
    <form asp-controller="User" asp-action="ContactUs" method="post">

        <p>Please enter your name, surname and email</p>
        <input type="text" name="Name" placeholder="Name" required />
        <input type="text" name="Surname" placeholder="Surname" required />
        <input type="text" name="Email" placeholder="Email" required />
        <button type="submit">Submit</button>

    </form>

@*  Login form
    <form asp-controller="Login" asp-action="Privacy" method="post">
        <p>Please enter your first name and email:</p>
        <input type="text" name="name" placeholder="Name" required>
        <input type="text" name="email" placeholder="example@gmail.com" required>
        <button type="submit">Submit</button>
    </form> *@


</body>