@{
    ViewData["Title"] = "Home Page";
    // Fixes Bug where TempData survives restart and browser closure 
    // Issue : #30645
    TempData["userID"] = null;
}


@*
    https://www.pexels.com/photo/black-metal-scissors-803929/
*@

<img class="crop" src="~/img/pexels-eneida-nieves-803929.jpg" />

<div class="text-center">
    <h1  class="display-4">Welcome</h1>
    <p id="blurb">
        Discover unique, handcrafted treasures. <br />Shop exquisite goods made with love by skilled artisans around the world.  <br />Support artistry, elevate your life.<br />Find the perfect gift (or keep it for yourself)!
    </p>
</div>
