@{
    ViewData["Title"] = "Home Page";
    // Fixes Bug where TempData survives restart and browser closure 
    // Issue : #30645
    TempData["userID"] = null;
    TempData["productID"] = null;

}


@*
    REF:
    https://www.pexels.com/photo/black-metal-scissors-803929/
    https://learn.microsoft.com/en-us/aspnet/core/?view=aspnetcore-8.0
    https://stackoverflow.com/questions/17838914/c-sharp-save-files-to-folder-on-server-instead-of-local
    https://stackoverflow.com/questions/12914473/how-can-i-show-up-openfiledialog-class-in-asp-net
    https://stackoverflow.com/questions/56528508/asp-net-core-tempdata-and-redirecttoaction-not-working
    https://stackoverflow.com/questions/527368/asp-net-mvc-multiple-controller-actions-in-one-form?rq=4
    https://stackoverflow.com/questions/2677072/asp-net-mvc-what-is-the-correct-way-to-redirect-to-pages-actions-in-mvc
*@

<img class="crop" src="~/img/pexels-eneida-nieves-803929.jpg" />

<div class="text-center">
    <h1  class="display-4">Welcome</h1>
    <p id="blurb">
        Discover unique, handcrafted treasures. <br />Shop exquisite goods made with love by skilled artisans around the world.  <br />Support artistry, elevate your life.<br />Find the perfect gift (or keep it for yourself)!
    </p>
</div>
